@{
    ViewBag.Title = "回收箱";
    Layout = "~/Views/Shared/order/_LayoutSaleCenter.cshtml";
}
@section Header{
    <link href="/Content/css/nav.css" rel="stylesheet" />
    <link href="/Content/css/ShowMyGoods.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.8.2.js"></script>
    <script src="/Scripts/Home/DrawBack.js"></script>

}

@{string message = ViewData["message"].ToString();}

@if (message == "1")
{
    var list = ViewData["allGoods"] as IQueryable<WLXK.SecondHand.Model.Goods>;

    <ul id="list_hd">
        <li id="xinxi">商品信息</li>
        <li id="danjia">单价</li>
        <li id="shuliang">数量</li>
        <li>操作</li>
    </ul>
    if (list.Count() <= 0)
    {
        <div style="width:700px;height:300px;color:red;font-size:14px;clear:both;text-align:center;line-height:300px;">回收站空空如也！</div>
    }
    else
    {
        foreach (WLXK.SecondHand.Model.Goods good in list)
        {
            <div class="good_list">
                <div class="goods">
                    <div style="float:left;"><a href="/Home/ShowGoods/@good.Id"><img width="85" height="85" src="@good.SmallImageAddress" /></a></div>
                    <span class="good_title">
                        <a href="/Home/ShowGoods/@good.Id">@good.Title</a>
                    </span>
                    <span class="good_danjia">@good.Price</span>
                    <span class="good_shuliang">@good.Count</span>
                    <span class="good_caozuo"><a class="delete" ids="@good.Id" href="">还原</a></span>
                </div>
            </div>
        }
    }
    int pageindex = int.Parse(ViewData["pageIndex"].ToString());
    int count = int.Parse(ViewData["Count"].ToString());
    <input type="hidden" id="pageindex" value="@pageindex" />

    <div class="paginator" style="margin-top:50px;">
        @Html.ShowPageNavigate(pageindex, 5, count, "all")
    </div>

    <div style="height:50px;"></div>
}
else
{
    <div style="background: #FEC0C1; border: 1px solid #FFF6BD; height:50px;">您还未开通店铺，请<a href="/Ordercenter/openshop">开通店铺</a></div>
}

